<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="row">
        <div class="col-md-3 "></div>
        <div class="col-md-6 col-md-offset-4 ">
            <a href="#" align="center">Store + магазин еле__ктротехніки</a>
          

        </div>
        <div class="col-md-3 col-md-offset-4 btn "> @Html.Action("Summary", "Cart")</div>
    </div>
    
    <div class="row panel">
        <div id="categories" class="col-xs-3">
            @Html.Action("Menu", "Nav")
        </div>
    </div>

    @RenderBody()
</body>
</html>